.register-container {
  width: 100%;
  max-width: 500px;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.register-container h2 {
  color: rgb(255, 255, 255);
}

.register-container label {
  color: white;
}

.register-container .signup-text {
  color: white;
}

.register-container .signup-link {
  color: #ffffff;
  text-decoration: underline;
}

.forgot-link {
  color: #ffffff;
  text-decoration: underline;
}
:host {
  width: 100%;
  margin-inline: 20px;
  display: block;
}
