.dashboard-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  background-color: black;
  height: calc(100vh - 80px);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
